<%- include('partials/Header.ejs') %>
<%- include('partials/Site_Header.ejs') %>
<div id = "homepage-txt">
  <h1>Welcome To My Home Page</h1>
</div>
<%- include('partials/Site-Footer.ejs') %>
<%- include('partials/Footer.ejs') %>