

/* Style the main content */
.main-content {
    text-align: center;
    padding: 60px 0;

}



#home-header {
    font-size: 60px;
    color: #333; /* Dark text color */
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;


}

.intro-text {
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-30%);
    bottom: 60%;
    color: black; /* Slightly darker text color */
}



.image-class {
    position: relative;
    width: 100%; /* Let the width adjust automatically to maintain aspect ratio */
    height: 100%; /* Let the height adjust automatically to maintain aspect ratio */

}
#image-holder {
    width:100%;
    height: 250px;
    justify-content: center;
    position:absolute;
    bottom: 10px;
    display: flex;
    z-index: 5;

}
