<%- include('general/header.ejs') %>
<%- include('general/portfolio-header.ejs') %>


    <h1 id = "home-header">Welcome to my portforlio</h1>
    <p class="intro-text">I am a passionate developer ready to showcase my skills.</p>
    <div class="image-gallery">
      <div id = "image-holder">
        <img src="/images/homepage image.png" alt="image-gallery">
      </div>


    </div>


<%- include('general/portfolio-footer.ejs') %>
<%- include('general/footer.ejs') %>