<%- include('general/header.ejs') %>
<%- include('general/portfolio-header.ejs') %>
<section id="projects" class="main-section">
    <h1>Projects</h1>
    <ul class="project-list">
        <li>Project 1: I completed a thorough case study that covered in-depth network design and analysis for my Networking 1 class. I had to adapt the academic information I had learned in the course to a realistic, practical setting for the project.
            I started by carefully taking into account variables like topology, IP addressing, and routing protocols as I designed and set up a network environment. I then set up numerous network equipment, such as switches and routers, to guarantee optimal connectivity and communication between various network portions.
            I had a number of difficulties and chances to solve problems that came up throughout the setting process throughout the case study. These difficulties gave me the chance to hone my problem-solving abilities and expand my knowledge of network protocols and technologies.</li>
        <li>Project 2: Python game development was a thrilling experience that gave me the chance to combine my programming and gaming interests. I began by outlining the rules and goals for the game, as well as its plot and mechanics. I then started coding, using the flexible tools and frameworks of Python to make my ideas come to life. It required work on the game's aesthetics, player controls, and interactive gameplay aspects, among other things. Coding problems I came into along the road forced me to use my imagination and problem-solving skills. I got a sense of success as I iteratively tested and improved the game, watching it transform from a few lines of code into a fun and pleasurable activity.</li>
        <div class="image-gallery">
            <img src="/images/gif python.gif" alt="project Screenshot 2" class="image2"> <!---https://media1.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif-->
        </div>

        <!-- Add more projects as needed -->
    </ul>
</section>
<%- include('general/portfolio-footer.ejs') %>
<%- include('general/footer.ejs') %>