<footer class = "footer">
    <div class = "center">
        <div class = "footer-container">
            <p id = "footer-txt">&#169 2023 by Dammy Olude 100888626<br>
                Contact Email: oreoluwa.olude@ontariotechu.net</p>
        </div>
    </div>
</footer>