<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header class="header">
    <div class="center">
        <div class="container-fluid">
            <nav class="menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/proflist">CURD</a></li>

                </ul>
            </nav>
        </div>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>