<header class="header">
    <div class="center">
        <div class="container-fluid">
            <nav class="menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/proflist">CURD</a></li>
                    <% if(typeof displayName == 'string' && displayName) { %>

                        <li class="nav-item">
                            <a href="/logout" class="nav-link" >
                                <i class="fa-solid fa-sign-out-alt"></i> Logout</a>
                        </li>

                        <li class="navbar-text">
                            <i class="fas fa-lg fa-user"></i>
                            Welcome, <%= displayName %>
                        </li>

                    <% } else { %>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">
                                <i class="fa-solid fa-sign-in-alt"></i> Login</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</header>